@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: black;
    background: #f7f7f7;
    width:100%;
    overflow-x: hidden;
}

/* Navigation Bar */

nav {
    background: #910104;
    height: 12vh;
    width: 100%;
    overflow:hidden;
    position:fixed;
    z-index: 2;
}

#logo-container{
    width:50%;
}

#links-container{
    width:50%;
    justify-content: flex-end;
}

nav ul {
    margin-right: 20px;
}
  
nav li {
    display: inline-block;
    background: inherit;
    line-height: 12vh;
    margin: 0 10px;
}
  
nav a {
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
}
  
#logo {
    display: inline-block;
    margin-left: 20px;
}
  
#logo h1 {
    line-height: 12vh;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

@media only screen and (max-width:950px){
    #nav{
        flex-direction: column;
        height:16vh;
    }

    #logo-container{
        width:100%;
        display:flex;
        justify-content: center;
        height:8vh;
    }

    #links-container{
        width:100%;
        justify-content: center;
        align-items: center;
        height: 8vh;
    }

    nav li{
        line-height:8vh;
    }

    #logo h1{
        line-height:8vh;
    }
}

@media only screen and (max-width:475px){
    
    #logo h1{
        font-size:2.8rem;
    }
    
    nav a{
        font-size:1.2rem;
    }
}


/* Main Image Section */

#main-image-section div {
    background: url("../images/kimchi_fried_rice.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
    display:flex;
    justify-content: center;
}
  
#center-heading {
    text-align: center;
    font-size: 2rem;
    position: absolute;
    top: 16%;
    width: 100%;
    color:rgb(255, 255, 255);
}
  
#reservation-link {
    text-align: center;
    font-size: 2rem;
    color: #910104;
    top: 80%;
    background: white;
    width: 300px;
    height: 100px;
    position: absolute;
    border: solid 2px #910104;
}

/* About Section */

#about-section{
    width:80%;
    margin-left:10%;
    margin-right:10%;
}

#about-section > h2{
    text-align:center;
    margin-top: 60px;
    margin-bottom:30px;
    color: #910104;
    font-size: 2rem;
}

.about-container{
    margin-bottom: 2rem;
}

.about-container > div{
    width:50%;
    height:100%;
}

.about-container img{
    height:auto;
    width:100%;
    border-radius: 10px;
}

#about-section h3{
    font-size:1.5rem;
    color:#910104;
    margin-bottom: 0.5rem;
}

.text-container{
    font-size: 1.3rem;
    margin:0 1rem 0 1rem;
}

.text-container{
    text-align: center;
    background:gold;
    border-radius: 10px;
    color: black;
    padding:1rem 0 1rem 0;
}

.text-container p{
    margin-bottom: 1rem;
}

.text-container a{
    background:white;
    border-radius: 10px;
    border: #910104 solid 2px;
    color: #910104;
    padding:0.5rem;
}

@media only screen and (max-width:950px){
    #about-1{
        flex-direction:column;
    }

    #about-1 > div{
        display: flex;
        width:100%;
    }

    #about-2{
        flex-direction:column-reverse;
    }

    #about-2 > div{
        display: flex;
        width:100%;
    }

    #about-3{
        flex-direction:column;
    }

    #about-3 > div{
        display: flex;
        width:100%;
    }

    .text-container{
        margin-top: 1rem;
    }
}


/* Review section */

#review-section{
    clear:both;
}

#review-section h2{
    text-align:center;
    margin-top: 30px;
    margin-bottom:30px;
    color: #910104;
    font-size: 2rem;
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction:column;
}

.review{
    width:33%;
    height:50vh;
    background:#f7f7f7;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items:center;
}

.flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}

#reviews-container {
    flex-direction: row;
    width:100vw;
}

#review-image{
    background-image: url("../images/customers.jpeg");
    background-position: 50% 50%;
    width: 300px;
    height: 300px;
    border-radius:50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#left-container h3{
    display:block;
    width:80%;
    background:#f7f7f7;
    margin-left:60px;
    font-size:1.5rem;
    margin-bottom:0.5rem;
}

#left-container p{
    display:block;
    width:80%;
    background:#f7f7f7;
    margin-left:60px;
    font-size:1.3rem;
    line-height: 2rem;
}

#right-container h3{
    display:block;
    width:80%;
    background:#f7f7f7;
    margin-right:60px;
    font-size:1.5rem;
    margin-bottom:0.5rem;
}

#right-container p{
    display:block;
    width:80%;
    background:#f7f7f7;
    margin-right:60px;
    font-size: 1.3rem;
    line-height: 2rem;
}

@media only screen and (max-width:950px){
    #reviews-container{
        flex-direction:column;
    }

    .review{
        width: 100%;
    }

    #right-container h3{
        margin:0;
    }

    #right-container p{
        margin:0;
    }

    #left-container h3{
        margin:0;
    }

    #left-container p{
        margin:0;
    }

    #review-section h2{
        margin-bottom:0;
    }

    .review{
        height:40vh;
    }
}


/* footer */

footer{
    clear:both;
    flex-direction: row;
    width:100vw;
    font-size: 1rem;
    line-height: 2rem;
    color:white;
}

footer span{
    font-weight: bold;
}

footer div{
    width:66%;
    text-align:left;
    display:flex;
    justify-content: flex-start;
    align-items:flex-start;
    padding:1% 5%;
    background:#910104;
    box-sizing: border-box;
}

#social-container{
    justify-content: center;
    align-items: flex-start;
    width:33%;
}

footer h3{
    font-size: 1.5rem;
}

.social-networks{
    display: flex;
    flex-direction: row;
}

.social-networks li{
    padding-right: 2rem;
}

.social-networks i{
    font-size: 2.5rem;
    color:white;
}

@media only screen and (max-width:1050px){
    footer div{
        width:75%;
    }

    #social-container{
        align-items: center;
    }

    .social-networks{
        flex-direction: column;
    }
}

@media only screen and (max-width:1050px){
    #info-container{
        flex-direction: column;
    }

    footer div{
        width: 100%;
    }

    #social-container{
        width:100%;
    }

    footer{
        flex-direction: column;
    }

    .social-networks{
        flex-direction: row;
    }

    .social-networks li{
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

/* Menu Page */

.nav-space{
    height:12vh;
    width:100vw;
}

#menu-section{ 
    width:100vw;
    height:30vh;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-section div{
    margin: 0 auto;
    height:50%;
    width:50%;
    background:black;
    color:white;
    line-height:15vh;
    text-align:center;
    font-size:2rem;
}

.food-type-container{
    width:100vw;
    height:60vh;
}

.food-type-container > div{
    justify-content: center;
    align-items: center;
}

.food-type-container > h3{
    text-align:center;
    font-size: 1.8rem;
    margin-bottom: 2vh;
    color:#910104;
}

.food-container{
    width: 28vw;
    height: 50vh;
}

.food-image{
    height:75%;
    width:100%;
    justify-content: center;
    align-items: center;
}


#bbq-1 .food-image{
    background-image:url(../images/pork.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bbq-2{
    margin:0 3vw 0 3vw;
}

#bbq-2 .food-image{
    background-image:url(../images/thin\ pork.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


#bbq-3 .food-image{
    background-image:url(../images/galbi.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#chicken-2{
    margin:0 3vw 0 3vw;
}

#chicken-1 .food-image{
    background-image:url(../images/soy\ chicken.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#chicken-2 .food-image{
    background-image:url(../images/chicken.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#chicken-3 .food-image{
    background-image:url(../images/soy\ chicken.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#other-2{
    margin:0 3vw 0 3vw;
}

#other-1 .food-image{
    background-image:url(../images/bibimbap.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#other-2 .food-image{
    background-image:url(../images/meat.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#other-3 .food-image{
    background-image:url(../images/kimchi_fried_rice.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.food-desc{
    height:20%;
    width:100%;
}

@media only screen and (max-width:1100px){
    #bbq-section{
        height:calc(210vh + 3rem);
    }
    
    #chicken-section{
        height:calc(210vh + 3rem);
    }

    #other-dishes-section{
        height:calc(210vh + 3rem);
    }

    #bbq-section > div{
        flex-direction: column;
    }

    #chicken-section > div{
        flex-direction: column;
    }

    #other-dishes-section > div{
        flex-direction: column;
    }

    .food-container{
        width:60%;
        height: 70vh;
    }
}

@media only screen and (max-width:800px){
    .food-container{
        width:70%;
    }
}

@media only screen and (max-width:650px){
    #bbq-section{
        height:calc(180vh + 3rem);
    }
    
    #chicken-section{
        height:calc(180vh + 3rem);
    }

    #other-dishes-section{
        height:calc(180vh + 3rem);
    }

    .food-container{
        height:60vh;
    }
}

@media only screen and (max-width:600px){
    .food-container{
        width:80%;
    }

    #bbq-section{
        height:calc(150vh + 3rem);
    }

    #chicken-section{
        height:calc(150vh + 3rem);
    }

    #other-dishes-section{
        height:calc(150vh + 3rem);
    }

    .food-container{
        height:50vh;
    }

}

@media only screen and (max-width:350px){
    #bbq-section{
        height:calc(120vh + 3rem);
    }

    #chicken-section{
        height:calc(120vh + 3rem);
    }

    #other-dishes-section{
        height:calc(120vh + 3rem);
    }

    .food-container{
        height:40vh;
    }
}

/* Reservation Page */

#form-container{
    width: 80vw;
    margin: 5vh 10vw 5vh 10vw;
    display:flex;
    flex-direction: row;
}

form{
    background: silver;
    width:100%;
    font-size: 1.2rem;
    border-radius: 10px;
}

form h2{
    text-align:center;
    font-size:2rem;
    color:#910104;
    margin-top:1rem;
}

form > div{
    width:100%;
}

#form-left-col{
    width:45%;
    margin-left:5%;
}

#form-right-col{
    width:45%;
    margin-right:5%;
}

.input label{
    display:block;
    width:100%;
    padding-top:1rem;
    padding-bottom:0.2rem;
}

.input input{
    display:block;
    width:90%;
    font-size:1.2rem;
}

#message-div{
    box-sizing: border-box;
    padding-left:5%;
}

#message-div input{
    width:90%;
    height:5rem;
}

#submit-container{
    display:flex;
    justify-content: center;
    text-align: center;
    margin:1rem 0 1rem 0;
    width:100%;
    height:4rem;
}

#submit{
    background:gold;
    width:20rem;
    height:4rem;
    font-size: 1.8rem;
    border-radius:10px;
}

@media only screen and (max-width:500px){
    #data-container{
        flex-direction: column;
    }

    #form-left-col{
        width:100%;
        margin-left:0%;
        padding-left:5%;
    }
    
    #form-right-col{
        width:100%;
        margin-right:0%;
        padding-left:5%;
    }

    #message-div input{
        width:95%;
    }

    #submit{
        width:16rem;
    }
}

@media only screen and (max-width:950px){
    #form-container{
        margin-top: 4rem;
    }
}

@media only screen and (max-width:350px){
    #submit{
        width:12rem;
    }
}

/* Contact Page */

#contact-section h2{
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: -2rem;
    text-align: center;
    color: #910104;
}

#contact-container{
    width:50vw;
    height:30rem;
}

#contact-container > div{
    height: 80%;
    width:80%;
    margin-left: 10%;
    background-image: url(../images/brighton.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#contact-info-container{
    width:50vw;
    height:30rem;
}

#contact-info-container > div{
    height: 80%;
    width:80%;
    margin-right: 10%;
}

#contact-info-container > div > div{
    width:100%;
    font-size: 1.3rem;
}

#contact-info-container h3{
    font-size: 1.5rem;
    margin-top:1rem;
    margin-bottom:1rem;
    color: #910104;
}

#contact-info-container span{
    font-weight: bold;
}

#contact-info-container li{
    line-height:2rem;
}

@media only screen and (max-width:930px){
    #contact-section > div{
        flex-direction: column;
    }

    #contact-container{
        width:100%;
    }

    #contact-container > div{
        height: 80%;
        width:80%;
        margin: 0%;
    }

    #contact-info-container{
        margin-top:-5rem;
        width:100%;
        text-align:center;
    }

    #contact-info-container > div{
        margin:0%;
    }

    iframe{
        height:300px;
    }
}

@media only screen and (max-width:550px){
    #contact-container > div{
        height:50%;
    }
}

@media only screen and (max-width: 768px) {
    .reviews-container {
        flex-direction: column;
    }
}
