@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: black;
    background: #f7f7f7;
}

nav {
    background: #910104;
    height: 12vh;
    width: 100%;
    overflow:hidden;
}
  
nav ul {
    float: right;
    margin-right: 20px;
}
  
nav li {
    display: inline-block;
    background: inherit;
    line-height: 12vh;
    margin: 0 10px;
}
  
nav a {
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
}
  
#logo {
    display: inline-block;
    margin-left: 20px;
}
  
#logo h1 {
    line-height: 12vh;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

#main-image-section div {
    background: url("../images/kimchi_fried_rice.jpg") no-repeat center center;
    background-size: cover;
    height: 88vh;
    width: 100%;
    position: relative;
    text-align: center;
    display:flex;
    justify-content: center;
}
  
#center-heading {
    text-align: center;
    font-size: 2rem;
    position: absolute;
    top: 5%;
    width: 100%;
    color:rgb(255, 255, 255);
}
  
#reservation-link {
    text-align: center;
    font-size: 2rem;
    color: #910104;
    top: 80%;
    background: white;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 80%;
    border: solid 2px #910104;
}

#about-section{
    width:80%;
    margin-left:10%;
    margin-right:10%;
}

#about-section > h2{
    text-align:center;
    margin-top: 60px;
    margin-bottom:30px;
    color: #910104;
    font-size: 2rem;

}

.float-left{
    float:left;
    width:50%;
    text-align: center;
}

.float-right{
    float:right;
    width:50%;
    text-align: center;
}

.float-left > img{
    width:100%;
    margin-bottom:30px;
}

.float-right > img{
    width:100%;
    margin-bottom:30px;
}


#about-section > div{
    clear:both;
}


/* Review section */

#review-section{
    clear:both;
}
